#nav > span{
    display: inline-block;
}
#nav{
    max-height: 45px;
    min-width: 900px;
}

.logo-nav{
    font-size: 33px;
    line-height: 65%;
    padding: 0 7px 8px 7px;
    font-family: tw-extra-bold;
    background: white;
    border-radius: 4px;
    margin-left: 4rem;
}

#nav-search{
    height: 1.6rem;
    position: relative;
    top: -0.2rem;
    border-radius: 4px;
    border: none;
    width: 15rem;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}