@font-face{
    font-family: selfish; 
    src: url('../custom_fonts/steelfish-rounded/steelfish\ rounded\ bd.ttf');
}
@font-face { 
    font-family: new-fobia; 
    src: url('../custom_fonts/neo-fobia/NeoFobia-Bold.ttf'); 
}

@font-face { 
    font-family: tw-extra-bold; 
    src: url('../custom_fonts/logo_font/TCCEB.TTF'); 
}

@font-face { 
    font-family: tw-bold; 
    src: url('../custom_fonts/logo_font/TCCB____.TTF'); 
}

@font-face { 
    font-family: tw; 
    src: url('../custom_fonts/logo_font/TCCM____.TTF'); 
}

.logo{
    font-family: tw-extra-bold, Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
}
.center_placement::-webkit-input-placeholder{
    text-align: center;
}
.center_placement{
    text-align: center;
}

.hover-gray:hover{
    background: #c2c2a3;
}


#downloadBtn:hover{
    background-color: #e8e3e3;
}

#folderIcon{
    font-size: 32px;
    color: green;
}
#folderIcon:hover{
    font-size: 36px;
    color: brown;
}

#updateBtn:hover{
    background: chocolate;
    cursor:pointer;
}

#closeIcon:hover{
    background-color: chocolate;
    cursor:pointer;
}

.site-brackgroun{
    background:#008000;
}

.site-color{
    color:#008000;
}

body{
    margin: 0;
}

.text-center {
    text-align: center !important;
}

p{
    margin: 0;
}