body{
    font-family:Tw Cen MT Condensed,Georgia, 'Times New Roman', Times, serif;
    background:#b3b3b3;
}

.center_placement::-webkit-input-placeholder{
    text-align: center;
}
.center_placement{
    text-align: center;
}